<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap@5.0.2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
     
    
    <!-- Animation.css -->  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  
    <!-- CSS File -->
    <link rel="stylesheet" href="/css/styles.css"/>
  

    <link href="https://fonts.googleapis.com/css?family=Vesper-Libre|Varta" rel="stylesheet">

    <!-- JQUERY File -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>

      <!-- Scroll Reveal -->
    <!-- <script src="https://unpkg.com/scrollreveal"></script>  -->

   
    
    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/parallax.min.js"></script>
     -->

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="image/favicon.png">

    <!-- Title -->
    <title>Signature Properties</title> 
  </head>
  <body>
    <header id=Navigation>
        <!-- NavBar -->
       <div class="container-fluid"> <!--style="box-shadow: 0px 1px 8px 3px rgb(0 0 0 / 20%);-->      
           <nav class="nav navbar navbar-expand-lg nav-light p-0 align-items-end">
             <a class="navbar-brand" href="/">
               <img class="navbar-logo" src="/image/sp-logo.png" alt="logo">
             </a>
             <!-- AAA <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> -->
              <button class="navbar-toggler my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon container-icon" onclick="ChangeIcon(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </span>
             </button>
             <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
               <ul class="navbar-nav nav-list align-items-center">
                 <li class="nav-item">
                   <a class="nav-link nav-hover" href="/about">ABOUT US</a>
                 </li>                            
                 <!-- <li class="nav-item"> -->
                  <!-- AAA <a class="nav-link nav-hover" href="/buy">Buy</a> -->
                  <div class="dropdown">
                    <a class="btn btn-dropdown dropdown-toggle" style="font-weight:700;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      BUY
                    </a>                  
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="#">APPARTMENT</a></li>
                      <li><a class="dropdown-item" href="#">VILLAS</a></li>
                      <li><a class="dropdown-item" href="#">OFFICES</a></li>
                      <li><a class="dropdown-item" href="#">TOWNHOUSE</a></li>
                      <li><a class="dropdown-item" href="#">STUDIO</a></li>
                      <li><a class="dropdown-item" href="#">WAREHOUSE</a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <!-- AAA <a class="nav-link nav-hover" href="/buy">Rent</a> -->
                  <div class="dropdown">
                    <a class="btn btn-dropdown dropdown-toggle" style="font-weight:700;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      RENT
                    </a>     
                    <!-- AAA <a class="btn btn-dropdown dropdown-toggle" style="font-weight:700;" onclick="location.href = '/rent';" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      RENT
                    </a>               -->
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="#">APPARTMENT</a></li>
                      <li><a class="dropdown-item" href="#">VILLAS</a></li>
                      <li><a class="dropdown-item" href="#">OFFICES</a></li>
                      <li><a class="dropdown-item" href="#">TOWNHOUSE</a></li>
                      <li><a class="dropdown-item" href="#">STUDIO</a></li>
                      <li><a class="dropdown-item" href="#">WAREHOUSE</a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-hover" href="/">SELL</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-hover" href="/off-plan">OFF-PLAN</a>
                </li>  
                <!-- <li class="nav-item">
                  <a class="nav-link nav-hover" href="/blog">BLOG</a>
                </li> -->
                 <li class="nav-item">
                   <a class="nav-link nav-hover" href="/contact">CONTACT US</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link " data-toggle="modal" data-target="#modalContactForm" style="cursor: pointer;">ENQUIRY</a> <!--nav-enq-->
                    <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title  font-weight-bold">
          <div class="px-5 text-center">
            <h1>GET IN TOUCH</h1>
            <!-- <hr>
            <h4>Please provide your details below and one of our team will be in touch with you soon.</h4>
            <hr> -->
           </div>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none; background: none;">
          <span aria-hidden="true"><img src="https://img.icons8.com/ios/30/000000/close-window.png"/></span>
        </button>
      </div>
     
      <form method="POST" action="/send">
      <div class="modal-body mx-3">       
        <div class="md-form mb-3">
          <!-- <i class="fas fa-user prefix grey-text"></i> -->
          <label data-error="wrong" data-success="right" for="form34">Name</label>
          <input type="text" id="form34" name="name" class="form-control validate">          
        </div>

        <div class="md-form mb-3">
          <!-- <i class="fas fa-envelope prefix grey-text"></i> -->
          <label data-error="wrong" data-success="right" for="form29">Email</label>
          <input type="email" id="form29" name="email" class="form-control validate">
        </div>

        <div class="md-form mb-3">
          <!-- <i class="fas fa-tag prefix grey-text"></i> -->
          <label data-error="wrong" data-success="right" for="form32">Phone No.</label>
          <input type="text" id="form32" name="phone" class="form-control validate">
        </div>

        <div class="md-form">
          <!-- <i class="fas fa-pencil prefix grey-text"></i> -->
          <label data-error="wrong" data-success="right" for="form8">Message</label>
          <textarea type="text" id="form8" name="message" class="md-textarea form-control" rows="4"></textarea>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-warning">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>
    </form>
    </div>
  </div>
</div>

                  </li>
               </ul>
             </div>
           </nav>
     </div>
     </header> 