<%- include("partials/header"); -%> 

<!-- <section id="Coming-Soon">
    <div class="container my-5 ">
        <div class="p-5 my-5 bg-dark rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold text-white">Coming Soon....</h1>
              <p class="col-xl-12 fs-4 text-white">We're working to finish the development of this site.</p>
            </div>
        </div>
    </div>
</section> -->
<section id="About-Heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="px-5 text-start fs-5">
                    <h1 style="color: #b5892f">About Us</h1>        
                    <hr style="background-color: #d3a614; height: 2px;">
                    <!-- <p style="color:#b38c0e" class="text-justify">SIGNATURE PROPERTIES was formed with the intension of delivering beautiful homes, offices for their
                        clients at the exotic and spectacular locations of Dubai. Our RERA certified, stellar sales and leasing
                        passionate team focuses on maintaining long lasting relationship with our clients by constantly working
                        to meet up their expectations and continuously adding values to their dreams by finding out the best
                        place for them of their own choice.</p>
                    <p style="color:#b38c0e" class="text-justify">We work with the best and renowned developers of Dubai such as EMAAR, NAKHEEL, MERAAS, SELECT
                        GROUP, MAG PROPERTIES, OMNIYAT, BINGHATTI, DEEYAR PROPERTIES, JUMEIRAH GOLF ESTATE etc.</p>
                    <br>
                    <h2 style="color: #b5892f">Reason To Invest In Dubai Real Estate</h1>
                    <hr style="background-color: #d3a614; height: 2px;">
                    <p style="color:#b38c0e" class="text-justify">Dubai is a cosmopolitan city and considered as one of the best leading place in the entire world. It is one
                        of the most sophisticated places due to its superlative development of buildings, high class living
                        standard, excellent healthcare system, Universal education system, World class infrastructure and the constantly thriving culture
                        had provided every expat a reason to settle in a safe, transparent and secure environment.</p> -->
                    <p style="color:#b38c0e" class="text-justify">Welcome to Signature Properties Dubai. We are a luxury real estate company that
                        provides unrivalled expertise and a variety of services to both local and overseas
                        clients in the UAE and international property markets. We proudly facilitate
                        seamless buying, selling and renting processes with extensive international
                        reach, global marketing opportunities. Signature Properties is founded by Team
                        of dynamic, Enthusiastic Individuals’ with years of experience and Expertise in
                        the property market in UAE. Signature Properties offers a comprehensive
                        portfolio of Both Residential, Commercial, retail &amp; Off-Plan Properties in Dubai.</p>
                    <p style="color:#b38c0e" class="text-justify">
                        Reputed for excellence, our company consists of RERA-certified management,
area specialists and luxury property experts who continue to uphold our
longstanding success. We pride ourselves on maintaining an in-depth
understanding of Dubai’s property market, and diligently follow its fluctuations to
expertly navigate the process of buying and selling property in the region.We
train our industry professionals to meticulously deliver a wide scope of tailor-
made solutions and nurture long-term relationships with our clients.
                    </p>
                   </div>
            </div>
            <div class="col-lg-5 d-flex justify-content-center">
                <img class="about-pic-img" src="/image/about-pic.jpg" alt="">
            </div>
        </div>
      <div style="color:#b38c0e" class="px-5 text-start fs-5 mt-2">
        <p>
            Licensed by the Dubai Department of Economics and registered with the Lands
Department, our industry professionals have amassed decades of experience
with real estate broking, among other property-related activities.
        </p>
        <br>
        <h3>Vision</h3>
        <p>To become, the most prominent real estate company in the UAE, known for its
            integrity &amp; transparency in business.</p>
        <!-- <p>Dubai always wants to be the best and strived to add on its amazing architectures wonders and leisure
            attractions such as Burj Al Arab, Burj Khalifa and even trying to add more exciting attractions to impress
            the world.</p>
        <p>Dubai is safe and profitable place to attract international investors due to its strong and sustainable
            economic growth and also known as the City of Future. The reason behind Dubai’s Real Estate
            sustainable growth is due to its locations, tourist attraction which includes its renowned seven star
            hotel, biggest shopping mall, biggest manmade island, world’s tallest building, high rental yields and
            investment returns.</p> -->
      </div>
    </div>
 </section>


<%- include("partials/footer"); -%> 