<%- include("partials/header"); -%> 

<!-- <section id="Coming-Soon">
    <div class="container my-5 ">
        <div class="p-5 my-5 bg-dark rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold text-white">Coming Soon....</h1>
              <p class="col-xl-12 fs-4 text-white">We're working to finish the development of this site.</p>
            </div>
        </div>
    </div>
</section> -->
<section id="About-Heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="px-5 text-start">
                    <h1>About Us</h1>        
                    <hr>
                    <p>Lorem ipsum dolor sit amet. Ab adipisci galisum ut Quis unde aut quia odit et architecto similique ut ipsam accusamus. Aut perspiciatis accusamus est minus et enim assumenda est laboriosam voluptates et illum consectetur ut voluptates voluptatibus. Et magni quia ea voluptatem saepe non quia incidunt vel deleniti deserunt aut provident iste in vitae eveniet est iusto placeat. Vel enim libero non omnis quos ea ullam rerum.</p>
                    <p>Lorem ipsum dolor sit amet. Ab adipisci galisum ut Quis unde aut quia odit et architecto similique ut ipsam accusamus. Aut perspiciatis accusamus est minus et enim assumenda est laboriosam voluptates et illum consectetur ut voluptates voluptatibus. Et magni quia ea voluptatem saepe non quia incidunt vel deleniti deserunt aut provident iste in vitae eveniet est iusto placeat. Vel enim libero non omnis quos ea ullam rerum.</p>
                    <p>Lorem ipsum dolor sit amet. Ab adipisci galisum ut Quis unde aut quia odit et architecto similique ut ipsam accusamus. Aut perspiciatis accusamus est minus et enim assumenda est laboriosam voluptates et illum consectetur ut voluptates voluptatibus. Et magni quia ea voluptatem saepe non quia incidunt vel deleniti deserunt aut provident iste in vitae eveniet est iusto placeat. Vel enim libero non omnis quos ea ullam rerum.</p>
                   </div>
            </div>
            <div class="col-lg-6">
                <img class="about-pic-img" src="/image/about-pic.png" alt="">
            </div>
        </div>
    </div>
 </section>


<%- include("partials/footer"); -%> 