<%- include("partials/header"); -%> 

<section id="Contact">
    <div class="container my-5 ">
        <div class="row align-items-center align-content-between">
            <div class="col-lg-4">
                <div class="card " style="width: 18rem;">
  <div class="card-body d-flex flex-column align-items-center">
      <img src="/image/icon/location.png" style="width: 3rem" class="card-img-top"/>
    <h5 class="card-title my-2">Location</h5>
    <h6 class="card-text text-center">105, White Crown Building, Sheikh Zayed Road, Dubai, UAE</h6>

  </div>
</div>
            </div>
            <div class="col-lg-4">
                <div class="card " style="width: 18rem;">
  <div class="card-body d-flex flex-column align-items-center">
      <img src="/image/icon/email.png"  style="width: 5rem" class="card-img-top"/>
    <h5 class="card-title my-2">Email</h5>
    <h6 class="card-text text-center">info@signature.property</h6>
 
  </div>
</div>
            </div>
            <div class="col-lg-4">
                <div class="card " style="width: 18rem;">
  <div class="card-body d-flex flex-column align-items-center">
      <img src="/image/icon/telephone.png"  style="width: 5rem" class="card-img-top"/>
    <h5 class="card-title my-2">Contact</h5>
    <h5 class="card-text text-center">+971-4-547-6717</h5>

  </div>
</div>
            </div>
         
        </div>
    </div>
</section>





<%- include("partials/footer"); -%> 