<%- include("partials/header"); -%> 
<section id="Main">
    <div class="container-fluid px-0 container-video">
        <video class="video" autoplay muted loop>
          <source src="/video/video-sp.mp4" type="video/mp4" />
        </video>
        <div class="row heading-main-left">
            <div class="col-xl-7">
                <div class="text-start px-5">
                <h6 style="color: #f4b900;"><span class="d-flex align-items-end"><img src="https://img.icons8.com/color-glass/25/000000/home.png"/>Real Estate Agency</span></h6>
                <h3>Find Your Future Dream Home By Us</h3>
            </div>
            </div>
        </div>
        <div class="scroll-downs">
            <div class="mousey">
              <div class="scroller"></div>
            </div>
        </div>
    </div>   
</section>

<section id="Explore">
    <div class="container">
        <div class="row">
            <div class="col">Buy a home</div>
            <div class="col">Rent a home</div>
            <div class="col">Sell a home</div>
        </div>0
    </div>
</section>

<%- include("partials/footer"); -%> 