<%- include("partials/header"); -%> 
<section id="Main">
    <div class="container-fluid px-0 container-video">
        <video class="video" autoplay muted loop>
          <source src="/video/video-sp.mp4" type="video/mp4" />
        </video>
        <div class="row heading-main-left">
            <div class="col-xl-7">
                <div class="text-start px-5">
                <h6 style="color: #d08f32;"><span class="d-flex align-items-end"><img class="home-icon" src="/image/icon/home-icon.png"/>Real Estate Agency</span></h6>
                <h3>Find Your Future Dream Home By Us</h3>
            </div>
            </div>
        </div>
        <div class="scroll-downs">
            <div class="mousey">
              <div class="scroller"></div>
            </div>
        </div>
    </div>   
</section>

<section id="Explore">
    <div class="container mt-5">   
        <h3 class="text-center py-3">Our Main Focus</h3>     
        <div class="row p-1">            
            <div class="col-lg-4 col-md-4 d-flex flex-column align-items-center pb-5">
                <img class="main-focus-icon pb-1" src="/image/icon/buy-home-icon.jpg" alt="">
                <h4>Buy a home</h4>
                <p class="text-center">From studio to big mansion, find the purchase home to purchase in the city.</p>
                <button type="button" class="btn btn-dark border-rm-crn">Find a home</button>
            </div>
            <div class="col-lg-4 col-md-4 d-flex flex-column align-items-center pb-5">
                <img class="main-focus-icon pb-1" src="/image/icon/rent-home-icon.jpg" alt="">
                <h4>Rent a home</h4>
                <p class="text-center">From studio to big mansion, find the purchase home to purchase in the city.</p>
                <button type="button" class="btn btn-light border border-rm-crn">Find a rental</button>
            </div>
            <div class="col-lg-4 col-md-4 d-flex flex-column align-items-center pb-5">
                <img class="main-focus-icon pb-1" src="/image/icon/sell-home-icon.jpg" alt="">
                <h4>Sell a home</h4>
                <p class="text-center">From studio to big mansion, find the purchase home to purchase in the city.</p>
                <button type="button" class="btn btn-dark border-rm-crn">Find a sell</button>
            </div>
        </div>
    </div>
</section>

<section id="Off-Plan-Project">
    <div class="container py-5">
       <h3 class="py-3">Off Plan Project</h3>
       <p>Lorem ipsum dolor sit amet. Ab adipisci galisum ut Quis unde aut quia odit et architecto similique ut ipsam accusamus. Aut perspiciatis accusamus est minus et enim assumenda est laboriosam voluptates et illum consectetur ut voluptates voluptatibus. Et magni quia ea voluptatem saepe non quia incidunt vel deleniti deserunt aut provident iste in vitae eveniet est iusto placeat. Vel enim libero non omnis quos ea ullam rerum.</p>
       <div class="row">
           <div class="col-off-plan col-lg-4 col-md-4 col-sm-6 pb-3">
            <div class="card card-off-plan border-0" style="width: 18rem;">
                <img src="/image/off-project/1.jpg" class="card-img-top" alt="...">
                <div class="card-body p-0">
                  <p class="card-text mb-0 fw-bold">Some quick example text.</p>
                  <p class="card-text">Some</p>
                </div>
              </div>
           </div>
           <div class="col-off-plan col-lg-4 col-md-4 col-sm-6 pb-3">
            <div class="card card-off-plan border-0" style="width: 18rem;">
                <img src="/image/off-project/2.jpg" class="card-img-top" alt="...">
                <div class="card-body p-0">
                    <p class="card-text mb-0 fw-bold">Some quick example text.</p>
                    <p class="card-text">Some</p>
                </div>
              </div>
           </div>
           <div class="col-off-plan col-lg-4 col-md-4 col-sm-6 pb-3">
            <div class="card card-off-plan border-0" style="width: 18rem;">
                <img src="/image/off-project/3.jpg" class="card-img-top" alt="...">
                <div class="card-body p-0">
                    <p class="card-text mb-0 fw-bold">Some quick example text.</p>
                    <p class="card-text">Some</p>
                </div>
              </div>
           </div>         
       </div>
       <button type="button" class="float-end btn btn-light border border-rm-crn">More...</button>
    </div>    
</section>


<section id="Feature-Properties"> 
    <div class="container mt-2">
        <h3 class="py-3">Features Properties</h3>
        <div class="row">
            <div class="col-feat-prop col d-flex">
                <div class="card" style="width: 18rem;">
                    <img src="/image/off-project/1.jpg" class="card-img-top feature-pro-img" alt="...">
                    <div class="card-body">
                      <div class="card-title">
                        <table>
                            <tr>
                                <th><p class="fw-bold m-0">305,000 AED &nbsp;</p></th>
                                <th><span class="text-muted fw-normal">/ per year</span></th>
                                <th><div class="badge bg-primary text-wrap ms-3">Rent</div></th>
                              </tr>
                        </table>  
    
                </div>
                      <p class="card-text">180Kw Electric Power Brand New Warehouse for rent in UAQ</p>
                    </div>
                   <div class="card-body">
                    <p class="fw-normal d-flex align-items-center"><img data-toggle="tooltip" title="size" src="https://img.icons8.com/material-sharp/24/000000/window.png"/>223524sqFt</p>                  
                    </div>
                  </div>
            </div>
            <div class="col-feat-prop col d-flex">
                <div class="card" style="width: 18rem;">
                    <img src="/image/off-project/1.jpg" class="card-img-top feature-pro-img" alt="...">
                    <div class="card-body">
                      <div class="card-title">
                        <table>
                            <tr>
                                <th><p class="fw-bold m-0">305,000 AED &nbsp;</p></th>                             
                                <th><div class="badge bg-primary text-wrap ms-3">Buy</div></th>
                              </tr>
                        </table>  
    
                </div>
                      <p class="card-text">180Kw Electric Power Brand New Warehouse for rent in UAQ</p>
                    </div>
                   <div class="card-body">
                    <p class="fw-normal d-flex align-items-center"><img data-toggle="tooltip" title="size" src="https://img.icons8.com/material-sharp/24/000000/window.png"/>24000SqFt</p>                  
                    </div>
                  </div>
            </div>
            <div class="col-feat-prop col d-flex">
                <div class="card" style="width: 18rem;">
                    <img src="/image/off-project/1.jpg" class="card-img-top feature-pro-img" alt="...">
                    <div class="card-body">
                      <div class="card-title">
                        <table>
                            <tr>
                                <th><p class="fw-bold m-0">305,000 AED &nbsp;</p></th>                             
                                <th><div class="badge bg-primary text-wrap ms-3">Sell</div></th>
                              </tr>
                        </table>  
    
                </div>
                      <p class="card-text">180Kw Electric Power Brand New Warehouse for rent in UAQ </p>
                    </div>
                   <div class="card-body">
                    <p class="fw-normal d-flex align-items-center"><img data-toggle="tooltip" title="bathrooms" src="https://img.icons8.com/ios-glyphs/30/000000/shower.png"/><img data-toggle="tooltip" title="size" src="https://img.icons8.com/material-sharp/24/000000/window.png"/>24000SqFt</p>                  
                    </div>
                  </div>
            </div>                            
        </div>
    </div>
</section>

<section id="List-Of-Developer">
    <div class="container-fluid p-0 mt-5 ">
        <h3 class="text-center py-3">Channel Partners</h3>
        <div class="marquee">
            <ul class="marquee-content">
              <li><img src="/image/list-of-developer/azizi.jpg" alt=""></li>
              <li><img src="/image/list-of-developer/damac.png" alt=""></li>
              <li><img src="/image/list-of-developer/danube.png" alt=""></li>
              <li><img src="/image/list-of-developer/deyaar.png" alt=""></li>
              <li><img src="/image/list-of-developer/emmar.png" alt=""></li>
              <li><img src="/image/list-of-developer/mag.png" alt=""></li>
              <li><img src="/image/list-of-developer/meeras.png" alt=""></li>
              <li><img src="/image/list-of-developer/nakheel.png" style="width: 115px;" alt=""></li>
              <li><img src="/image/list-of-developer/sobha.png" style="width: 105px;" alt=""></li>
            </ul>
          </div>       
    </div>
</section>

<%- include("partials/footer"); -%> 