<%- include("partials/header"); -%> 




<section id="Buy-Page">
  <div class="container my-5">
    <div class="items-gallery d-flex justify-content-center">
      <span class="mx-1 item-gallery active" data-name="all">All</span>
      <span class="mx-1 item-gallery" data-name="emmar">Emmar</span>
      <span class="mx-1 item-gallery" data-name="deyaar">Deyaar</span>
      <span class="mx-1 item-gallery" data-name="damac">Damac</span>
    </div>
  </nav>
  <!-- filter Images -->
  <div class="gallery d-flex justify-content-center">
    <div class="image" data-name="emmar">
      <span>
        <div class="row mt-5">
          <div class="col-lg-4 ps-4 pe-0">
               <img src="/image/OFD/Talia/1.jpg" class="img-thumbnail border-end-0" style="width: 25rem;" alt="">
          </div>
          <div class="ps-0 col-lg-4 border-top border-bottom">
           <div class="card border-0">
               <div class="card-body">
                 <h5 class="card-title">1,473,888 AED</h5>
                 <p class="card-text fw-bold">TALIA AT THE VALLEY</p>
                 <p class="card-text"><table>
                   <tr>
                       <th><div class=" m-0">Townhouse</div></th>
                       <!-- <th><span class="ms-3 ">4</span></th>
                       <th><div class=" ms-3">5</div></th> -->
                       <th><div class=" ms-3">1,921 Sq.Ft</div></th>
                     </tr>
               </table> </p>
               <p class="card-text fw-normal my-4">
                   Eden, The Valley, Dubai                            
               </p>
                 <table class="mt-5">
                     <tr>
                       <th><a class="btn btn-primary" onclick="location.href = './off-plan/talia';" role="button">View</a></th>
                       
                         <th><a href="#" class="ms-3 btn btn-primary">Call</a></th>
                         <th><a href="https://api.whatsapp.com/send?phone=971505517804&text=Hello,%0aI%20would%20like%20to%20get%20more%20information%20about%20this%20property%20you%20posted%20on%20propertyfinder.ae:%0a%0aReference:%20indus-2960565%0aType:%20Townhouse%0aPrice:%20N/A%20%0aLocation:%20La%20Rosa%0a%0aLink:%20http://sigpro-eduode.herokuapp.com/off-plan/talia" class="ms-3 btn btn-primary">Whatsapp</a></th>                                 
                     </tr>
                 </table>
               </div>
             </div>
          </div>
          <div class="col-lg-3 p-5 d-flex align-items-center justify-content-center flex-column border-top border-start border-bottom border-end">
           <th><div class="badge bg-primary text-wrap float-end mb-3">Off-Plan</div></th>
              <img src="/image/list-of-developer/emmar.png" style="width: 15rem;" alt="">
             
          </div>
      </div>
    </span></div>
    <!-- <div class="image" data-name="deyaar">
      <span>
        <div class="row">
          <div class="col-lg-3">
               <img src="/image/off-project/1.jpg" style="width: 22.5rem;" alt="">
          </div>
          <div class="col-lg-4 border-top border-bottom">
           <div class="card border-0">
               <div class="card-body">
                 <h5 class="card-title">100,000 AED</h5>
                 <p class="card-text">NEW COMMUNITY BY EMAAR EDEN, THE VALLEY</p>
                 <p class="card-text"><table>
                   <tr>
                       <th><p class="fw-bold m-0">Villa</p></th>
                       <th><span class="ms-3 ">4</span></th>
                       <th><div class=" ms-3">5</div></th>
                       <th><div class=" ms-3">24,000 Sq.Ft</div></th>
                     </tr>
               </table> </p>
               <p class="card-text fw-normal my-4">
                   Eden, The Valley, Dubai                            
               </p>
                 <table class="my-2">
                     <tr>
                       <th><a href="#" class="btn btn-primary">View</a></th>
                         <th><a href="#" class="ms-3 btn btn-primary">Call</a></th>
                         <th><a href="#" class="ms-3 btn btn-primary">Whatsapp</a></th>                                 
                     </tr>
                 </table>
               </div>
             </div>
          </div>
          <div class="col-lg-3 p-5 border-top border-start border-bottom border-end">
           <th><div class="badge bg-primary text-wrap float-end mb-3">Off-Plan</div></th>
              <img src="/image/list-of-developer/deyaar.png" style="width: 15rem;" alt="">
             
          </div>
      </div>
    </span></div>
    <div class="image" data-name="emmar">
      <span>
        <div class="row">
          <div class="col-lg-3">
               <img src="/image/off-project/1.jpg" style="width: 22.5rem;" alt="">
          </div>
          <div class="col-lg-4 border-top border-bottom">
           <div class="card border-0">
               <div class="card-body">
                 <h5 class="card-title">100,000 AED</h5>
                 <p class="card-text">NEW COMMUNITY BY EMAAR EDEN, THE VALLEY</p>
                 <p class="card-text"><table>
                   <tr>
                       <th><p class="fw-bold m-0">Villa</p></th>
                       <th><span class="ms-3 ">4</span></th>
                       <th><div class=" ms-3">5</div></th>
                       <th><div class=" ms-3">24,000 Sq.Ft</div></th>
                     </tr>
               </table> </p>
               <p class="card-text fw-normal my-4">
                   Eden, The Valley, Dubai                            
               </p>
                 <table class="my-2">
                     <tr>
                       <th><a href="#" class="btn btn-primary">View</a></th>
                         <th><a href="#" class="ms-3 btn btn-primary">Call</a></th>
                         <th><a href="#" class="ms-3 btn btn-primary">Whatsapp</a></th>                                 
                     </tr>
                 </table>
               </div>
             </div>
          </div>
          <div class="col-lg-3 p-5 border-top border-start border-bottom border-end">
           <th><div class="badge bg-primary text-wrap float-end mb-3">Off-Plan</div></th>
              <img src="/image/list-of-developer/emmar.png" style="width: 15rem;" alt="">
             
          </div>
      </div>
    </span></div>
    <div class="image" data-name="damac">
      <span>
        <div class="row">
          <div class="col-lg-3">
               <img src="/image/off-project/1.jpg" style="width: 22.5rem;" alt="">
          </div>
          <div class="col-lg-4 border-top border-bottom">
           <div class="card border-0">
               <div class="card-body">
                 <h5 class="card-title">100,000 AED</h5>
                 <p class="card-text">NEW COMMUNITY BY EMAAR EDEN, THE VALLEY</p>
                 <p class="card-text"><table>
                   <tr>
                       <th><p class="fw-bold m-0">Villa</p></th>
                       <th><span class="ms-3 ">4</span></th>
                       <th><div class=" ms-3">5</div></th>
                       <th><div class=" ms-3">24,000 Sq.Ft</div></th>
                     </tr>
               </table> </p>
               <p class="card-text fw-normal my-4">
                   Eden, The Valley, Dubai                            
               </p>
                 <table class="my-2">
                     <tr>
                       <th><a href="#" class="btn btn-primary">View</a></th>
                         <th><a href="#" class="ms-3 btn btn-primary">Call</a></th>
                         <th><a href="#" class="ms-3 btn btn-primary">Whatsapp</a></th>                                 
                     </tr>
                 </table>
               </div>
             </div>
          </div>
          <div class="col-lg-3 p-5 border-top border-start border-bottom border-end">
           <th><div class="badge bg-primary text-wrap float-end mb-3">Off-Plan</div></th>
              <img src="/image/list-of-developer/damac.png" style="width: 15rem;" alt="">
             
          </div>
      </div>
    </span></div>
    <div class="image" data-name="emmar">
      <span>
        <div class="row">
          <div class="col-lg-3">
               <img src="/image/off-project/1.jpg" style="width: 22.5rem;" alt="">
          </div>
          <div class="col-lg-4 border-top border-bottom">
           <div class="card border-0">
               <div class="card-body">
                 <h5 class="card-title">100,000 AED</h5>
                 <p class="card-text">NEW COMMUNITY BY EMAAR EDEN, THE VALLEY</p>
                 <p class="card-text"><table>
                   <tr>
                       <th><p class="fw-bold m-0">Villa</p></th>
                       <th><span class="ms-3 ">4</span></th>
                       <th><div class=" ms-3">5</div></th>
                       <th><div class=" ms-3">24,000 Sq.Ft</div></th>
                     </tr>
               </table> </p>
               <p class="card-text fw-normal my-4">
                   Eden, The Valley, Dubai                            
               </p>
                 <table class="my-2">
                     <tr>
                       <th><a href="#" class="btn btn-primary">View</a></th>
                         <th><a href="#" class="ms-3 btn btn-primary">Call</a></th>
                         <th><a href="#" class="ms-3 btn btn-primary">Whatsapp</a></th>                                 
                     </tr>
                 </table>
               </div>
             </div>
          </div>
          <div class="col-lg-3 p-5 border-top border-start border-bottom border-end">
           <th><div class="badge bg-primary text-wrap float-end mb-3">Off-Plan</div></th>
              <img src="/image/list-of-developer/emmar.png" style="width: 15rem;" alt="">
             
          </div>
      </div>
    </span></div>
    <div class="image" data-name="villas">
      <span>

    </span></div>
    <div class="image" data-name="luxury">
      <span>

    </span></div>
    <div class="image" data-name="villas">
      <span>

    </span></div> -->
  </div>
  </div>
</section>


<%- include("partials/footer"); -%> 