* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


/* Remove Rounded Corner on Border */
.border-rm-crn
{
    border-radius: 0 !important;
}

/* Hamburger Button Animation */
.container-icon {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 32px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 4px -1px;
  transition: 0.4s;
}

.scrolling-active .bar1, .scrolling-active .bar2, .scrolling-active .bar3{
  background-color: rgb(0, 0, 0);
}

.bar1,.bar2{
  margin-bottom: 8px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 8px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-6px, -6px);
}  

/* ------------------------------ */

/* NAVIGATION ===============================================================================*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* transition: background-color; */
    /* transition: background-color .5s ease; */
    background-color: #000000;
    z-index: 1000;
    font-weight: 700;
}

.navbar-logo{
  width: 14rem;
}
  
.nav a{
  text-decoration: none;
  color: #fff;
}

.nav-list{
  font-size: 15px;
}

@media (max-width:1078px) {
  .nav-list{
    font-size: 11px;
  }   
}

/*Apply styles after scroll*/
.scrolling-active {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}

.scrolling-active .nav a{
  color: #ffffff;
}

.nav-light .navbar-toggler {
  color: #af782b;
  border-color: #D08F32;
}    

.scrolling-active .nav-light .navbar-toggler {
  color: rgb(255 255 255 / 55%);
  border-color: rgb(0 0 0 / 51%);
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow .15s ease-in-out;
}


.nav-link:hover {
  color: #ce8e32;
}

.nav-item{
  margin-right: 25px;
}

.nav-enq
{
  background-color: #ce8e32;
}

.nav-enq:hover
{
  color: #050505;
}
/* =========================================  HOMEPAGE ====================================== */
/*---------------------------------------------------------- Main -----------------------------------*/

#Main {
    position: relative;
    height: 100vh;
    color: #fff;
}

/* Video Main */
.container-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("./assets/bg.jpg") no-repeat center center/cover;
    z-index: -1;
  }
  
  .container-video:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 114.5%;
    background: rgba(0, 0, 0, 45%);
  }
  
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* Left-Heading Inside Main   */
.heading-main-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
}  

/* Home-Icon */
.home-icon{
    width: 25px;
}

/* Mouse Scroll Animation */

  .scroll-downs {
    position: absolute;
    right: 0;
    bottom: 15px;
    left: 0;
    margin: auto;    
    width :34px;
    height: 55px;
    z-index: 1;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    z-index: 1;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
    z-index: 1;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
/* ------------------------------------------------------------------------------------------------------------- */

/*-----------------------------------Our Main Focus-----------------------------   */

.main-focus-icon{
    width: 30%;
}

#Off-Plan-Project{
    background-color: #d7d7d759;
}

/* ------------------------------------------------------------------------------------------------------------- */

/*-----------------------------------Features Properties-----------------------------   */
.feature-pro-img{
  height: 50vh;
}

/* ------------------------------------------------------------------------------------------------------------- */

/*-----------------------------------Footer-----------------------------   */

footer{
  background-color: #000000;
}

.btn-popular-search{
  color: #ffffff;
}

.btn-popular-search:hover{
  box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
}

.card-body-popular-search{
  background-color: #000000;
  color: #ffffff;
}

.list-popular-search{
  margin: 0%;
}



/* ----------------------------------- Marquee ---------------------------------------------*/

:root {
  --marquee-width: 98.7vw;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}



.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #1110;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #1111114d 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #1111114d 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
.marquee-content:hover {
  animation-play-state: paused;
}
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 60%;
  /* height: 100%; */
  border: 2px solid #eee;
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}


/* -------------------------------------------BUY PAGE---------------------------------------------------- */

/*-----------------------------------buy = Background-----------------------------   */

/* #Buy-Page{
  background-image: url(/image/);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; 
} */




/* =================================  MEDIA QUERY ========================================= */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .card-off-plan{
    width: 10rem !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .card-off-plan{
    width: 14rem !important;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {

}