<%- include("partials/header"); -%> 



    <section id="OFD">
        <div class="container">  
          <section class="OFD-Title">
            <h2 class="ms-4">TALIA AT THE VALLEY</h2>
          </section>
       <section class="carousel-gallery-thumbnail">
        <div class="row">
            <div class="col-lg-8">
             <div class="carousel-items-container">
                 <ul class="carousel">
                     <li class="carousel-item"><img src="/image/OFD/Talia/2.jpg" /></li>
                     <li class="carousel-item"><img src="/image/OFD/Talia/3.jpg" /></li>
                     <li class="carousel-item"><img src="/image/OFD/Talia/4.jpg" /></li>
                     <li class="carousel-item"><img src="/image/OFD/Talia/5.jpg" /></li>
                     <li class="carousel-item"><img src="/image/OFD/Talia/6.jpg" /></li>
                 </ul>
             </div><!-- end carousel-container -->
         
           
            </div>
            <div class="col-lg-4">
             <div class="carousel-thumbs-container">
                 <div class="grid-container">
                     <div class="grid-item">
                         <ul class="carousel-thumbs">
                             <li class="carousel-thumbs-item"><img src="/image/OFD/Talia/2.jpg" /></li>
                         </ul>    
                     </div>
                     <div class="grid-item">
                         <ul class="carousel-thumbs">
                             <li class="carousel-thumbs-item"><img src="/image/OFD/Talia/3.jpg" /></li>
                         </ul>  
                     </div>
                     <div class="grid-item">
                         <ul class="carousel-thumbs">
                             <li class="carousel-thumbs-item"><img src="/image/OFD/Talia/4.jpg" /></li>
                         </ul>  
                     </div>  
                     <div class="grid-item">
                         <ul class="carousel-thumbs">
                             <li class="carousel-thumbs-item"><img src="/image/OFD/Talia/5.jpg" /></li>
                         </ul>  
                     </div>
                     <div class="grid-item">
                         <ul class="carousel-thumbs">
                             <li class="carousel-thumbs-item"><img src="/image/OFD/Talia/6.jpg" /></li>
                         </ul>  
                     </div>
                   </div>
                 
                 <!-- <ul class="carousel-thumbs">
                     <li class="carousel-thumbs-item"><img src="/image/OFD/Talia/2.jpg" /></li>
                     <li class="carousel-thumbs-item"><img src="/image/OFD/Talia/3.jpg" /></li>
                     <li class="carousel-thumbs-item"><img src="/image/OFD/Talia/4.jpg" /></li>
                     <li class="carousel-thumbs-item"><img src="/image/OFD/Talia/5.jpg" /></li>
                     <li class="carousel-thumbs-item"><img src="/image/OFD/Talia/6.jpg" /></li>
                 </ul> -->
             </div><!-- end carousel-thumbs-container -->
         
             <!-- <div class="carousel-controls-container">
                 <button class="btn btn-primary btn-carousel-thumb prev-btn">left</button>
                 <button class="btn btn-primary btn-carousel-thumb play-btn">play</button>
                 <button class="btn btn-primary btn-carousel-thumb pause-btn">pause</button>
                 <button class="btn btn-primary btn-carousel-thumb next-btn">right</button>
             </div>end carousel-controls-container -->
         
             <!-- <div class="carousel-timer-container">
                 <i class="fas fa-lock-open lock-icon"></i>
                 <form id="carousel-timer">
                     <select class="timer-settings">
                         <option value="x1">x 1 Second</option>
                         <option value="x2">x 2 Seconds</option>
                         <option value="x3">x 3 Seconds</option>
                     </select>
                  </form>
             </div>end carousel-controls-container -->
            </div>
        </div>   
       </section> 
       <section class="OFD-Para ms-4">
           <p class="fs-4 ">The Valley’s third neighbourhood of elegant townhouses – TALIA comprises stylish, family-friendly homes connected to nature and situated just footsteps away from Golden Beach.</p>
       </section>
       
       <section class="ms-4 my-5">
           <div class="row ">
               <div class="col-2">
                <p class="fs-5 fw-bold">PRICES FROM</p>
                <p class="fs-6">AED 1,473,888</p>

               </div>
               <div class="col-2">
                <p class="fs-5 fw-bold">AREA FROM (SQFT)</p>
                <p class="fs-6">  1,921</p>
               </div>
           </div> 
       </section>
       <section class="OFD-Plan ms-4 my-4">
         <h3 class="text-decoration-underline">MORTGAGE CALCULATOR</h3>
        <div class="fs-5">
            <p>ADVANCE PAYMENT 20%</p>
            <p>LOAN DURATION 25 YRS</p>
            <p>INTEREST TARE 2.49%</p>
            <p>ESTIMATED MONTHLY EMI 5284 AED/MONTH</p>
        </div>
         
       </section>
       <section class="OFD-Amenities ms-4 mt-5">
        <h3 class="text-decoration-underline">AMENITIES</h3>
        <p class="fs-5">Live your best life in a suburban utopia where everything you need is right on your doorstep, including a host of outstanding amenities and exclusive features.</p>
        <div class="row justify-content-between">
            <div class="col-lg-2">
                <img src="/image/icon/beach-chair.png" width="150" alt="">
                <p class="text-center">GOLDEN BEACH</p>
            </div>
            <div class="col-lg-2">
                <img src="/image/icon/plaza.png" width="150" alt="">
                <p class="text-center">TOWN CENTRE</p>
            </div>
            <div class="col-lg-2">
                <img src="/image/icon/pocketparkicon.png" width="150" alt="">
                <p class="text-center">POCKET PARKS</p>
            </div>
            <div class="col-lg-2">
                <img src="/image/icon/playground.png" width="150" alt="">
                <p class="text-center">PLAYGROUNDS</p>
            </div>
            <div class="col-lg-2">
                <img src="/image/icon/sports.png" width="150" alt="">
                <p class="text-center">OUTDOOR & INDOOR SPORTS FACILITIES</p>
            </div>
        </div>
        
       </section>
    </div>
    </section><!-- end main-content -->
    



<%- include("partials/footer"); -%> 